@font-face {
    font-family: '04b_03';
    src: url('../fonts/04b/04b_03-webfont.eot');
    src: url('../fonts/04b/04b_03-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/04b/04b_03-webfont.woff') format('woff'),
         url('../fonts/04b/04b_03-webfont.ttf') format('truetype'),
         url('../fonts/04b/04b_03-webfont.svg#04b03regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '04b_25';
    src: url('../fonts/04b/04b_25-webfont.eot');
    src: url('../fonts/04b/04b_25-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/04b/04b_25-webfont.woff') format('woff'),
         url('../fonts/04b/04b_25-webfont.ttf') format('truetype'),
         url('../fonts/04b/04b_25-webfont.svg#04b_25regular') format('svg');
    font-weight: normal;
    font-style: normal;

}