

.home-container{
position: absolute;
width: 100%;
padding-top: 100px;
text-align: center;
background-color: #FFF;
padding-bottom: 1em;
height: 100%;
}

.parallax{
    min-height: 1800px;
    overflow:hidden;
    margin-top: 200px;
    position: relative;
}

.parallax-item {
    position: fixed;
    -webkit-transition: width 0.3s ease-in, height 0.3s ease-in,  background-color 0.3s ease-in ;
    -moz-transition: width 0.3s ease-in, height 0.3s ease-in,  background-color 0.3s ease-in ;
    -ms-transition: width 0.3s ease-in, height 0.3s ease-in,  background-color 0.3s ease-in ;
    transition: width 0.3s ease-in, height 0.3s ease-in,  background-color 0.3s ease-in ;

    z-index: 0;
    padding: 1em; 
}

.parallax-item.active{
	width: 400px;
	height: 300px;
	background-color: grey; 
	z-index: 1;
	color: white; 
	.front, .back{
		box-shadow: none; 
	}
  .back{
  width: 400px;
  height: 300px; 
  }
	.parallax-item-description{
		//opacity: 1;
		//color: white; 
	}
	.flipper{
		transform: rotateY(180deg);
	}
}
.parallax-headline h1{
    font-size: 72px; 
    font-family: 'Helvetica Neue', 'helvetica', 'arial', 'sans-serif';
    font-weight: 100; 
}
.parallax-headline{
	width: 90%; 
	margin: 0 auto;
  text-align: center;
  width: 100%; 
  z-index: 0;
  font-size: 3em; 
  font-family: 'Helvetica Neue', 'helvetica', 'arial', 'sans-serif';
  font-weight: 100; 
}
.parallax-item:nth-child(3){
	left: 2%; 
	top: 150%;
}
.parallax-item:nth-child(4){
	left: 20%; 
	top: 150%;
}

.parallax-item:nth-child(5){
	left: 50%; 
	top: 150%;
}
.parallax-item:nth-child(6){
	left: 40%; 
	top: 150%;
}

.parallax-item:nth-child(7){
	left: 80%; 
	top: 150%;
}

.parallax-item-thumbnail{
	height: 150px;
	width: 150px;
  cursor: pointer;
  -webkit-ransition: all 0.3s ease-in; 
  -moz-transition: all 0.3s ease-in; 
  -ms-transition: all 0.3s ease-in; 
	transition: all 0.3s ease-in; 
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
	perspective: 1000;
  float: left;
  position: relative;
}

.parallax-item-thumbnail .back{
  overflow: hidden;
  position: relative;
}
.parallax-item-thumbnail .back h3{
  position: absolute;
  bottom: 0; 
  width: 100%; 
  text-align: center;
  font-weight: bold; 
}

.parallax-item-thumbnail video{
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 267px;
  opacity: 1;
  overflow: hidden;   
}
.parallax-item-description{
	opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;

}

/* flippers */

.flipper {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
	width: 100%; 
	height: 100%; 
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%; 
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45);
}

.front {
	z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
	background-color: darkGrey;
}

.parallax-item-thumbnail:hover .flipper, .parallax-item-thumbnail.hover .flipper {
	-webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}


//CAROUSEL 

.tools-carousel figure {
  display: inline-block;
  width: 100px;
  height: 75px;
  left: 10px;
  top: 10px;
  text-align: center;
}
.tools-carousel figure img{
  display: inline;
  max-height: 100%; 
}


.parallax-bg{
  position: fixed; 
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0; 
}

.parallax-bg.first{
  background-color: white; 
}

.parallax-bg.second{
    background-color: lightGrey; 
}

.parallax-bg.third{
    background-color: grey; 
}

a.large{
  font-size: 18px;
  font-weight: 400;
  margin: 4em auto;
  padding: 1.5em 1em;
  width: 40%;
  display: block;
  background-color: #FFF;
  border: 0;
  font-family: 'Helvetica Neue', 'helvetica', 'arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 4px;
  box-shadow: 0 4px 20px 0px #000;
  color: #333;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -ms-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
a.large:hover{
  background-color: $aqua;
  color: white; 
}
