*{
  //outline: 1px dotted black; 
}
body{
background-color: white;
//background-image: url('../images/poz-pix.jpg'); 
background-image: none; 
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.home-column-left, .home-column-right{
  background-image: url('../images/poz.jpg'); 
  background-attachment: fixed; 
  background-size: cover; 
  background-position: 0 0; 
  min-height: 100%;  
  width: 50%;
  background-color: white; 
}

.home-column-left{
  background-image: url('../images/poz.jpg'); 
  position: fixed;
  z-index: 1;
}
.home-column-right{
  height: 5000px; 
  background-image: none;
  position: absolute; 
  right: 0 ;
  top: 45%; 
  background-color: transparent;
  padding-left: 10px; 
  padding-right: 10px; 
z-index: 0;
}
.home-avatar{
  width: 70px; 
  height: 70px; 
  background: url('../images/avatar_orig.jpg');
  background-size: cover;
  display: inline-block;
  border-radius: 50%; 
}

.home-title{
width: 140px;
right:-75px;
position: absolute;
text-align: center;
z-index: 3;
}
.home-title h1{
  font-size: 24px; 
  display: block;
  background-color: white; 
}

.white-clip{
  width: 50%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100px; 
  background-color: white;
  z-index: 1;
}

.home-intro{
  margin-bottom: 1em; 
  background-color: white; 
  width: 80%; 
  padding: 1em;
  padding-left: 3em;
  position: absolute;
  top: 25%; 
}


.left-headline, .right-headline{
  display: block;
  width: 100%;
}
.left-headline{
  position: absolute;
  top: 45%;
  right: 0;
}
.left-headline span, .right-headline span{
  background-color: white; 
  font-size: 28px;
  padding: 0.5em 0.5em 0.5em 0; 
  float: left;
  margin-left: -10px;
}
.left-headline span{
  float: right;
}
.right-headline{
  margin-right: -16px; 
}
.home-portfolio{
  margin-bottom: 5em; 
}

.portfolio-image{
  position: relative;
  height: 270px; 
}

.portfolio-image img{
  width: 100%;
  position: absolute;
  top:0; 
  transition: opacity 0.3s ease-in; 
  z-index: 0;
}

.portfolio-image:hover img:last-child{
  opacity: 0;
}
