*{
  //outline: 1px dotted black; 
}
body{
  background-image: url('../images/poz-pix.jpg'); 
  background-attachment: fixed; 
  background-size: cover; 
  background-position: 0 0; 
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.home-column-left, .home-column-right{
  background-image: url('../images/poz.jpg'); 
  background-attachment: fixed; 
  background-size: cover; 
  background-position: 0 0; 
  min-height: 100%;  
  width: 50%;
  background-color: white; 
  z-index: 0;
}

.home-column-left{
  background-image: url('../images/poz.jpg'); 
  position: fixed;
  z-index: 1;
}
.home-column-right{
  height: 100%; 
  background-image: none;
  position: absolute; 
  right: 0 ;
  background-color: transparent;
  z-index: 0;
}
.home-title .flipper {
  animation: flipAvatar 1.5s;
  animation-timing-function: linear;  
  animation-delay: 1.5s; 
}

@keyframes flipAvatar {
  0%{
    transform: rotateY(0deg); 
  }
  45%{
    transform: rotateY(180deg); 
  }  
  50%{
    transform: rotateY(180deg); 
  }
  55%{
    transform: rotateY(180deg); 
  }  
  100%{
    transform: rotateY(0deg); 
  }
}

.home-column-right-content{
  position: absolute;
  top: 200px;
  width: 92%;
  margin: 0 auto;
  left: 4%;
}

.home-avatar-front, .home-avatar-back{
  width: 120px; 
  height: 120px; 
  background: url('../images/monogram.png');
  background-size: cover;
  display: inline-block;
  border-radius: 50%; 
  border: none;
}

.home-avatar-back{
  background-image: url('../images/avatar_orig.jpg'); 
  background-color: gray;
  background-position: 0px -16px;
  background-repeat: no-repeat;
}
.about-link{
  line-height: 1em;
  text-decoration: none;
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  top: 12px;
  text-shadow: 1px 1px 0 #000;
  color: #FFF;
}
.home-title{
  width: 120px;
  right: -60px;
  position: absolute;
  text-align: center;
  z-index: 3;
  top: 30px;
}

.white-clip{
  width: 50%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100px; 
  background-color: white;
  z-index: 1;
}

.floating-p{
  background-color: #FFF;
  padding: 10px;
  box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.26); 
  font-size: 18px;
  max-width: 80%; 
}

.home-intro{
  position: absolute;
  width: 80%;
  top: 120px;
  left: 50%;
  margin-left: -40%;
}

.home-how{
  position: absolute;
  top: 280px; 
  left: 5%; 
  animation-delay: 0.2s; 
}
.green-contact{
position: absolute;
right: 20px;
bottom: -17px;
font-size: 14px;
font-family: 'PT Sans';
text-transform: uppercase;
letter-spacing: 1px;
border: none; 
padding: 5px 10px;  
color: white; 
}

.green-contact a{
  color: white; 
}
.green-contact:hover{
  color: white; 
}
.green-contact{
  position: absolute;
}

.home-act{
  position: absolute;
  top: 500px; 
}

.left-headline, .right-headline{
  display: block;
  width: 100%;
  padding-top: 10px; 
  padding-bottom: 10px; 
  z-index: 3;
  position: absolute;
  margin-bottom: 0; 
  backface-visibility: hidden; 
}

.left-headline{
  position: absolute;
  top: 200px;
  right: 0;
  overflow: hidden; 
  animation-delay: 0.1s; 

}

.left-headline span, .right-headline span{
  background-color: #FFF;
  font-size: 18px;
  margin-left: -5%;
  padding: 10px;
  float: left;
}

.left-headline span{
  float:right;
  padding-right: 0.25em; 
}

.right-headline span{
  animation-delay: 0.3s; 
  padding-left: 1%;
}
/* --- fixed headline appproach 

.right-headline.fixedHeadline{
  position: fixed;
  top: 200px; 
  left: 49%; 
}

.right-headline.fixedHeadline span{
  margin-left: 0; 
}

.right-headline.fixedPreviousHeadline, 
.right-headline.fixedNextHeadline{
  position: absolute;
  transform: translateY(200px);
}
.right-headline.fixedPreviousHeadline{
  transform: translateY(200px);
  position: absolute;
  }

.right-headline.fixedNextHeadline{
  transform: translateY(0px);
  position: absolute;
}

--- */

.home-portfolio{
  margin-bottom: 5em; 
}

.portfolio-image{
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px -2px black; 
  border-radius: 3px; 
  cursor: pointer;
  border: 1px solid white; 
}

.portfolio-image .portfolio-hover-image, 
.portfolio-image .portfolio-initial-image{
  width: 100%;
  position: absolute;
  top:0; 
  transition: opacity 0.3s ease-in; 
  z-index: 0;
}
.portfolio-image .portfolio-initial-image {
  position: relative;
}
.portfolio-image:hover img:last-child, 
.portfolio-image.hover img:last-child{
  opacity: 0;
}
.portfolio-image img:first-child{
  opacity: 0; 
}

.portfolio-image:hover img:first-child, 
.portfolio-image.hover img:first-child{
  opacity: 0.9; 
}


.home-work-link{
  background-color: rgba(255, 255, 255, 0.43);
  float: right;
  padding: 0.5em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #797979;
}