
@media screen and (max-width: 713px) {
	.centered_measure {
		max-width: 85%;
	}
	.nav_flipper{
		font-size: 16px; 
	}
	.nav_flipper a{
		color: $medium_grey;
	}
	.nav_flipper.left {
		left: 1%;
	}
	.nav_flipper.right {
		right: 1%;
	}
	.project_gallery{
			max-height: 500px;
	}
	dl dt, dl dd{
		display: block;
	}
	input#expand_me:checked + .top_bar .my_face{
		left: -140px;
		height: 80%; 
		bottom: 0;
		top: auto; 
	}
	input#expand_me:checked + .top_bar .expanded_content{
		left: 30%;
		font-size: 14px; 
		width: 70%; 
		height: 100%; 
		overflow: auto;
		h1{
			font-size: 36px;
		}
	}
	input#expand_me:checked + .top_bar .me.section{
		padding-left: 15px;
	}

	.large_thumbnail {
		width: 70px;
		height: 70px; 
	}
}

@media screen and (max-width: 700px) {
	
	.home-column-left{
		position: absolute;
		height: 522px;
		min-height: 50%;
		width: 100%;

	}
	
	.home-column-right{
		height: 490px;
		width: 100%;
		min-height: 50%; 
		top: 550px;
	}
	
	.home-column-right-content{
		top: 0;
		position: static;
	}

	.home-title {
		width: 120px;
		right: 50%;
		position: absolute;
		text-align: center;
		z-index: 3;
		top: 30px;
		margin-right: -60px;
	}

	.left-headline{
		top: 450px; 
		margin-left: 0;
	}
	.left-headline span{
		float: left; 
		margin-left: 0;
	}
	.home-how{
		top: 235px;
	}
	.right-headline span {
		margin-left: 0; 
	}

}

@media screen and (max-width: 460px) {
	.main{
		width: 100%; 
	}
	.nav_flipper{
		font-size: 10px; 
	}

	.nav_flipper.left {
		left: 3px;
	}
	.nav_flipper.right {
		right: 0;
	}
	.dropdown{
	}
	.about_me{
		max-width: 100%;
	}
	.project_gallery{
			max-height: 350px;
	}
	
	.blog .dropdown{
		white-space: normal;
		min-width: 250px;
	}

	input#expand_me:checked + .top_bar .expanded_content{

		h1{
			font-size: 32px; 
		}
	}
}

@media screen and (max-width: 430px) {
	.tagline {
		margin-left: 5%;
		width: 50%;
	}
	.sitenav {
		margin-left: 0;
	}
	.dropdown{
	}
	input#expand_me:checked + .top_bar .expanded_content{
		h1{
			font-size: 28px; 
		}
	}
}