.button{
	display: inline-block;
	border: 2px solid;
	color: inherit; 
	padding: 0.5rem 1.3rem;
	font-weight: 400; 
	margin-top: 1rem;
	text-decoration: none; 
	transition-property: border-color, color, background-color; 
	transition-duration: 0.2s; 
	background-color: transparent;

	&:hover, &--hover{
		@extend .button;
		border-color: transparent; 
		color: white; 
		background-color:rgba(0, 197, 255, 0.44); 
		
	}
	
	&--long{
		@extend .button;
		width: 100%; 
	}

	&--subtle:before {
		content: "("; 
	}
	&--subtle:after {
		content: ")"; 
	}

}

