.contact-form{
	margin: 0 auto; 
	width: 70%; 
	padding: 3rem; 
	color: white; 

	.headline--section{
		top: -1.2em; 
		color: $darkGrey; 
	}
	
	@media screen and (max-width:600px) {
		width: auto; 
		padding: 1rem; 

	}

	@media screen and (max-width:480px) {
	}
}

.input-text, .textarea{
	width: 100%; 
	padding: 0.5em; 
	font-size: 1.2rem; 
	margin-bottom: 1em; 
	color: $darkGrey; 
}
.label{
	@extend .subhead; 
}
.textarea{
	width: 100%; 
	height: 10em; 
}