$overlayBG: #2E345A; 
.tiles {
	width: 70px; 
	float: left;
	margin-top: 45px;
	text-align: center;  
	margin-left: 3px;

	label{
		display: block; 
		margin-bottom: 3px; 
		font-size: 0px; 
		color: rgba(255,255,255,0.4); 
		overflow: hidden; 
		z-index:1;
		&:hover {
			color: white; 
		}


	}

	@media screen and (max-width: 930px){
		width: 80%; 
		margin-top: 40px; 
		label {
			display: inline-block;
			width: 19%; 
		}
		.tile{
			display: inline-block; 
		}
	}

	@media screen and (max-width: 600px){
		margin-top: 0; 
		width: 100%; 
		label {
			width: 18%; 
		}
		.tile{
			height: 50px; 
			width: 50px; 
			line-height: 70px; 
		}
	}
}

.tile{
	width: 70px; 
	display: inline-block; 
	height: 70px;
	text-align: center; 
	transition: opacity 0.2s ease-out; 
	overflow: hidden; 
	background-size: 150%; 
	background-position: center center; 
	cursor: pointer;
	margin-bottom:20px; 
	opacity: 0.4; 
	border-radius: 50%; 
	
	&:hover, &.active {
		opacity: 1; 
	}

	&.lab{
		margin-left: 2%;
		margin-right: 2%; 
		opacity: 1; 
		height: 100px;
		width: 100px; 
		transition: transform 0.2s ease-in, box-shadow 0.3s ease-in; 
		box-shadow: 0 0 transparent; 

		@media screen and (max-width: 600px){
			top: 0 !important; 
			width: 70px; 
			height: 70px; 
			margin-left: 0; 
			margin-right: 0; 
		}
	
		&:hover{
			transform: scale(1.05) translateX(-2px) translateY(-4px); 
			box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2); 
		}	

	}

}

.tile--button{
	@extend .tile; 
	background-color: rgba(255,255,255,0.4);
	display: inline-block;
	opacity: 1; 
	color: white; 
	transition: background-color 0.2s ease-in, color 0.2s ease-in;
	line-height: 20px; 
	border-radius: 0; 
	font-size: 15px; 
	text-transform: uppercase;
	word-wrap: break-word;
	padding: 5px; 
	@media screen and (max-width: 930px){
		height: 35px !important; 
		margin: 5px 0; 
		width: 100%; 
		line-height: 32px !important;
	}	

	@media screen and (max-width: 600px){
		width: 100% !important; 
	}
	
	&:hover {
		background-color: rgba(255,255,255,1);
		color: black; 
	}
}

.tiles-showcase{
	width: 70%; 
	float: left; 
	margin-left:3px;
	padding-top: 45px; 
	perspective: 4000px;
	height: 500px;

	@media screen and (max-width: 930px){
		width: 85%; 
		padding-top: 0;
	}

	@media screen and (max-width: 800px){
		width: 80%; 
		padding-top: 0;
		height: 400px;
	}

	@media screen and (max-width: 600px){
		width: 100%; 
		height: 400px;
		float:none;
	}
}

.showcase-gallery{
	padding-bottom: 2em; 
	margin-left: 30px; 
	height: 100%; 
	h1{
		margin: 0;
		text-transform: uppercase;
		color: inherit;
		font-size: 18px;
		padding-top: 1em;
		padding-bottom: .5em;
	}
	video {
		width: 100%; 
	}
	p {
		margin-bottom: 0.2em;
	}


	@media screen and (max-width:930px) {
		margin-left: 0;
	}
}

.tab-toggle{
	position: absolute;
	text-indent:-9999px;
	font-size: 0; 
	display: none; 
}

.tile-showcase{
	height: 100%; 
}

.tab-toggle + .tile-showcase{
	display: none; 
	opacity: 0;
}

.tab-toggle:checked + .tile-showcase{
	display: block;
	opacity: 1;
}

.video-container {

	.icon-next{
		display: block; 
		background-color: transparent; 
		height: 100%; 
		width: 50px; 
		position: absolute;
		right: -60px;
		top: 0; 
		background-image: url('../images/icon-arrow-next-large.svg'); 
		background-size: 90% auto; 
		background-repeat: no-repeat;
		background-position: center center; 
		cursor: pointer; 
		opacity: 0.5; 
	}
	
	.icon-next:hover{
		opacity: 1; 
	}

	@media screen and (max-width: 930px){
		.icon-next{
			display: none;
		}
	}

}


img{
	max-width: 100%; 
}

@keyframes fadeIn {
	0% { 
		opacity: 0; 
	}
	100% { 
		opacity: 1; 
	}
}
