body {
	font-family: 'Avenir'; 
	font-weight: 400;
	text-rendering: geometricPrecision;
	text-rendering: optimizeLegibility;

}
.headline{
	font-family:'Avenir';
	font-weight: 800; 
	font-size: 6rem; 
	margin-bottom: 0; 
	margin-top: 0;
	line-height: 0.8em; 

	@media all and (max-width:600px) {
		font-size: 4rem; 
	}
	@media all and (max-width:400px) {
		font-size: 2rem; 
	}
}

.subhead{
	margin-top: 1em; 
	text-transform: uppercase; 
	font-size: 0.9rem; 
	font-weight: 800; 
	letter-spacing: 2px; 
	color: inherit; 	
}


//pargraph
p{
	font-size: 18px; 
	margin-top: 0em; 
	margin-bottom: 1em; 
	line-height: 1.4em; 
	color: inherit; 

	@media screen and (max-width: 600px){
		font-size: 16px; 
	}

}

a {
	color: inherit; 
	text-decoration: none; 
}

p a{
	color: inherit; 
	text-decoration: none; 
	background-color: rgba(255, 232, 0, 0.35); 
	padding-left: 0.3em; 
	padding-right: 0.3em; 
	transition: background-color 100ms ease-in; 
}
a:hover{
	background-color: rgba(0, 197, 255, 0.44); 
}

.headline--vertical{
	width: 1em;
	text-align: center; 
	word-break: break-all;
	text-transform: uppercase;
	margin: 0;
	position: absolute; 
	font: 800 140px/0.8em Avenir;
	color: white; 
	opacity: 0.1; 
	@media screen and (max-width: 880px){
		width: 100%;
		font-size: 72px;
		top: 0;
		position: relative;
	}

	@media screen and (max-width: 600px){
		font-size: 42px; 
	}

}

.headline--medium{
	font-size: 32px; 
	font-weight: bold; 
	text-transform: uppercase; 
	margin: 0; 
	padding-top: 1.5em; 
	padding-bottom: 0.5em; 
	letter-spacing: 2px; 
}

.bodycopy--large{
	font-size: 1.2rem; 
	line-height: 1em; 
}

.bold{
	font-weight: 800; 
}

