$radius: 80px; 

.about-link{
  line-height: 1.2em;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  top: 20px;
  text-shadow: 1px 1px 0 #000;
  color: #FFF;
  font-weight: normal;
  width: 80px; 
  display: inline-block;
}

.home-title.flip-container{
  width: $radius; 
  height: $radius; 
  text-align: center;
  position: fixed; 
  left: 50%;
  margin-left: -$radius/2; 
  z-index: 3;
}

.home-avatar-front, .home-avatar-back{
  display: inline-block;
  border-radius: 50%; 
  border: none;
  display: inline-block;
}
.home-avatar-front{
  background: url('../images/monogram.png');
  background-size: cover;
}
.home-avatar-back{
  background-image: none; 
  background-color: gray;
  background-position: 0px -16px;
  background-repeat: no-repeat;
}

.flip-container {
  perspective: 1000;
}
.flip-container:hover .flipper{
  transform: rotateY(180deg); 
}

.flip-container, .flipper-front, .flipper-back {
  width: $radius;
  height: $radius;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.flipper-front, .flipper-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.flipper-front {
  z-index: 2;
  backface-visibility: hidden;
}
.flipper-back {
  transform: rotateY(180deg);
}