.article_content{
	iframe{
		position: relative;
		margin: 0 auto; 
		display: block;
	}
}

.project_gallery{
	height: 300px;
	margin-top: -5rem;
	overflow: hidden;
	position: relative;
	-webkit-transition: height 0.3s ease-out; 
	-moz-transition: height 0.3s ease-out; 
	-ms-transition: height 0.3s ease-out; 
	transition: height 0.3s ease-out; 
	max-height: 600px;
	
	figure{
		max-height: 100%;
		text-align: center;
	}
	img{
		max-width: 95%;
	}
	figcaption{
		width: 100%;
		background-color: #FFF;
		background-color: rgba(134, 134, 134, 0.64);
		text-align: left;
		position: absolute; 
		color: white;
		bottom: -2.6em; 
		transition: all 0.3s; 
	}

}

.scroll_wrapper {
	overflow: hidden; 
	height: 100%; 
	position: relative; 
	padding-top: 83px; 
}


.project_gallery:hover{
	height: 350px;
	figcaption{
		top: auto; 
		bottom: 0; 
	}
}

.project_gallery.active{
	overflow: hidden;
	height: 600px !important;

	.scroll_wrapper{
		overflow: auto; 
	}
}
.project_gallery.active:hover{
	height: 600px !important;
}

.project_gallery_item{
	display: none;
}

.project_gallery .project_gallery_item:first-of-type {
	display: block;
}

.gallery_operator {
	display: none;
}

div:nth-of-type(1):target ~ figure:not(:nth-of-type(1)) {
	display: none;
}

div:nth-of-type(2):target ~ figure:not(:nth-of-type(2)) {
	display: none;
}

div:nth-of-type(3):target ~ figure:not(:nth-of-type(3)) {
	display: none;
}

div:nth-of-type(4):target ~ figure:not(:nth-of-type(4)) {
	display: none;
}

div:nth-of-type(5):target ~ figure:not(:nth-of-type(5)) {
	display: none;
}



div:nth-of-type(1):target ~ figure:nth-of-type(1){
	display: block;
}

div:nth-of-type(2):target ~ figure:nth-of-type(2){
	display: block;
}

div:nth-of-type(3):target ~ figure:nth-of-type(3){
	display: block;
}

div:nth-of-type(4):target ~ figure:nth-of-type(4){
	display: block;
}

div:nth-of-type(5):target ~ figure:nth-of-type(5){
	display: block;
}

.spacer{
	height: 80px;
	width: 100%;
}
.project_gallery_nav{
	background-color: #FFF;
	font-size: 38px; 
	padding: 12px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1; 
	overflow: hidden;
	bottom: 0; 
}

.gallery_thumb{
	width: 25px;
	height: 25px;
	overflow: hidden;
	background-color: transparent;
	display: inline-block;
	vertical-align: top;
	background-position: center center; 
	background-size: 200% auto; 
	opacity: 0.7; 
	border-radius: 50px; 
	border: 1px solid $light_grey;
}

.gallery_thumb:hover{
	position: relative;
	top: -2px; 
	left: -2px; 
	z-index: 3; 
	box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.4); 
	opacity: 1; 
}

.project_gallery_nav a{
	padding: 0;
}

.gifcast{
	margin-top: 1em;
	margin-bottom: 1em; 
	display: block;

	canvas{
		margin: 0 auto;
		border: 6px solid white;
		box-shadow: 0 2px 15px -3px black;
		border-radius: 10px;
	}
}