*::selection { 
	background: #8ed9da;
	color: white;
}

body {
	line-height: 1.4em;
	font-family: "pt-sans", sans-serif; 
}

body.lab *::selection {
	background: #8ed9da;
	color: white;
}
body.work *::selection {
	background: #e5ce49;
}
body.thoughts *::selection  {
	background-color: #a74843;
}

header{
	position: relative;
}

h1{
	font-size: 3em;
	font-weight: normal;
	font-family: '04b_25';
	text-transform: uppercase; 
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
	position: relative;
	line-height: 1em;
	color: $dark_grey; 
	text-shadow: 1px 1px 0 white;
}

h2{
	font-size: 1.5em;
	font-weight: bold;
}
h3{
	font-size: 1.2em;
	font-weight: normal; 
	letter-spacing: 2px;
	font-variant: small-caps;
	margin-bottom: 0.5em; 
	margin-top: 0.2em;
}
small{
	font-size: 0.75em;
	line-height: 1.5em;
}

em{
	font-style: italic;
}

a{
	color: $dark_grey; 
	text-decoration: none;
}

//a:visited{
//	color: $medium_grey;
//}

a:hover{
	color: $aqua_h;
}

p, ul {
	margin-top: 0.7em;
	margin-bottom: 1em;
}
p{

}
img{
	vertical-align: top; 
}
img.left{
	float: left;
}
strong{
	font-weight: bold;
}

ul, ol {
	text-indent: 0;
	padding-left: 2em;
}
ul li{
	margin-bottom: 0.5em;
	list-style: inside square;
}
ol li{
	margin-bottom: 0.5em;
	list-style: inside decimal;
}
article{
	font-size: 18px;
	padding: 0.1px;
}
article a {
	color: saturate(darken($aqua, 20%), 20%);
}
address{
	display: inline; 
}

aside{
	font-size: 0.8em;
	text-indent: 0;
	letter-spacing: 1px;
	font-style: normal;
	text-transform: uppercase;
	color:$medium_grey;
}
aside a{
	color: $medium_grey;
	text-decoration: underline;
}

figure{
	position: relative;
}

figcaption{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 1em;
	font-size: 0.7em;
}

dl {
	display: table;
	margin-bottom: 1.5em;
	margin-top: 1em;

	dt{
		display: table-cell;
		min-width: 7em;
		font-weight: bold;
		padding-right: 1em;
	}

	dd {
		display: table-cell;
	}

}

hr{
	margin-top: 2em;
	margin-bottom: 2em;
}
dfn{
	cursor: help;
	border-bottom: 1px dashed;
}
dfn:hover{
	border-bottom: none;
}
dfn:hover:after{
	background-color: #AEFEFF;
	content: " (" attr(title) ") ";
	margin-left: 0.2em;
	margin-right: 0.2em;
	border-bottom: none;
	font-style: italic;
}

body.index iframe, body.lab iframe, iframe.lab{
	width: 100%;
	height: 100%; 
	position: absolute;
	overflow: hidden; 
}


p.large, span.large{
	font-size: 2em;
}

pre {

 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 background-color: lighten($light_grey, 5%); 
	font-family: monospace;
	max-width: inherit;
	overflow: auto;
}

code{
	font-family: monospace;
	background-color: lighten($light_grey, 5%); 
	padding: 3px; 
}

code.required{
	background-color: $redish;
	color: white; 
}
// *-------- tables --------* 

table{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
tr{
}
tr:nth-child(even) {
	background-color: lighten($light_grey, 10%);
}
tr:nth-child(odd) {
	background-color: #FFF;
}

th{
	background-color: $medium_grey;
	color: white; 
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}
td{
	vertical-align: top;
	padding: 5px 5px 5px 0;
}

iframe.embed{
	margin: 0 auto;
	display: block;
}