---
title: "Bridge"

order: 1

meta_description: "Bridge Stuff."

gallery_images:
  -
    url: 'bridge_1.png' 
    caption: 'bridgewith.us'
---

<strong>Really Simple Group Chat For Business.</strong> 

<p>
	Don't you just hate it when you get an email at work, open it, and all it says is 'ok'.  
	Bridge helps your employees get away from useless emails and gives them a modern social platform to communicate. 
</p>

<hr/>

<dl>
	<dt>WHAT IT IS</dt>
	<dd>
		Bridge is social platform for distributed teams and businesses. 
		What differenciates Bridge from competitors like Yammer is that Bridge lets you send messages 
		to very targeted groups in your company, for example, you can send a message
		to 'Everyone in South Carolina who's working on X', or 'everybody in South Carolina', or just 'Everyone working on project X'. 
    </dd>
</dl>

<dl>
	<dt>WHAT I DID</dt>
	<dd>
		Bridge is in public beta right now and I'm responsible for the Interface design and front-end development. 
    </dd>
</dl>

<dl>
	<dt>HOW I DID IT</dt>
	<dd>
    	Ruby on Rails hosted on Heroku in the back, Angular in the front. 
    </dd>
</dl>