.nav_flipper{
	position: fixed;
	top: 210px;
	width: 22px;
	-webkit-perspective: 200;
  	-webkit-transform-style: preserve-3d;
  	-webkit-backface-visibility: visible;
  	z-index: 2;
  	font-size: 18px;
  	-webkit-transition: font-size 0.2s ease-in, left 0.2s ease-in;
  	-moz-transition: 	font-size 0.2s ease-in, left 0.2s ease-in;
  	-ms-transition: 	font-size 0.2s ease-in, left 0.2s ease-in;
  	transition: 		font-size 0.2s ease-in, left 0.2s ease-in;
  	opacity: 0.2;
}
.nav_flipper:hover{
	opacity: 1;
}
.nav_flipper.right{
	right: 5%; 
}

.nav_flipper.left{
	left: 5%; 
}

.next, .previous{
	text-align: right;
	img{
		height: 20px;
		vertical-align: middle;
	}
	a {
		font-size: 4.5em;
		line-height: 1em;
		text-align: center;
		z-index: 2;
	}
}