*::selection { 
	background: rgba(0, 155, 175, 0.24);
	color: #A32C2C;
}
body {
	line-height: 1.4em;
}
h1{
	font-size: 3em;
	font-weight: normal;
	font-family: '04b_25';
	text-transform: uppercase; 
	color: white;
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 0.7em;
	z-index: -1;
}

small{
	font-size: 0.75em;
	line-height: 1.5em;
}

em{
	font-style: italic;
}

a{
	text-decoration: none;
}

a:visited{
	color: $dark_grey;
}

a:hover{
	color: $aqua_h;
}

p, ul {
	margin-top: 0.7em;
	margin-bottom: 1em;
}

strong{
	font-weight: bold;
}

ul {
	text-indent: 2em;
}
li{
	margin-bottom: 0.5em;
	list-style: inside square;
}

article{
	font-size: 16px;
}
article a {
	color: saturate(darken($aqua, 20%), 20%);
}
address{
	text-align: right;
	float: right;
}

aside{
	font-size: 1.2em;
	text-indent: 0;
	letter-spacing: 1px;
	font-style: italic;
}

aside:first-child:first-letter{
	font-family: Georgia;
}

figure{
	position: relative;
}

figcaption{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 1em;
	font-size: 0.7em;
}

dl {
	display: table;
	margin-bottom: 1.5em;
	margin-top: 1em;

	dt{
		display: table-cell;
		min-width: 6em;
		font-weight: bold;
	}

	dd {
		display: table-cell;
	}

}

hr{
	margin-top: 2em;
	margin-bottom: 2em;
}
dfn{
	cursor: help;
	border-bottom: 1px dashed;
}
dfn:hover{
	border-bottom: none;
}
dfn:hover:after{
	background-color: #AEFEFF;
	content: " (" attr(title) ") ";
	margin-left: 0.2em;
	margin-right: 0.2em;
	border-bottom: none;
	font-style: italic;
}

iframe{
	width: 100%;
	height: 100%; 
}

