%header.top_bar.dark_grey
  %nav.sitenav
    
    .section.work.yellow{:alt=>"portfolio", :class => current_page.url.match(/^\/portfolio\/.*\/$/) ? "current_section" : '' } 
      - pages = sitemap.resources.find_all{|p| p.url.match(/^\/portfolio\/.*\/$/)  }
      - pages = pages.sort{|a,b| a.data.order - b.data.order }
      - pages.each do |page|
        %a{:href=>page.url.chomp('/'), :class => page.url == current_page.url ? "current_page": "" }>
          %img{:src=>page.data.icon}>

    
    .section.tools.aqua{:alt=>"lab", :class => current_page.url.match(/^\/lab\/.*\/$/) ? "current_section" : ''}  
      - projects = sitemap.resources.find_all{|p| p.url.match(/^\/lab\/.*\/$/)  }
      - projects.each do |page|
        %a{:href=>page.url.chomp('/'), :class => page.url == current_page.url ? "current_page": "" }>
          %img{:src=>page.data.icon}>

    .section.blog.redish{:alt=>"blog", :class => current_page.url.match(/^\/thoughts\/.*\/$/) ? "current_section" : ''} 

      - blog.articles[0...1].each do |article|
        %a.small_heading.white_pixel_font{:href=>article.url, :class => article.url == current_page.url ? "current_page": "" }
          = article.title
    
    .section.light_green.about
      %p.small_heading.white_pixel_font
        what is this? 

      %p
        %canvas#my_face
          %img#my_face_avatar{:src=>'/images/avatar.png'}
        %small
          This is a website, silly. The real question is <em>Who am I</em>? I'm <a rel="author" href="https://plus.google.com/104672941806561920576/about?rel=author">Jan</a> and I make web-stuff. By day I'm an interface designer at a startup in Toronto, by night I'm... probably sleeping. 
          
    .background_mask.has_shadow
  %a.tagline.iblock{:href=>'/'}
    Art + Code for fun and pr