div#instructions
{
  font-family:Helvetica Neue LT, Helvetica, sans-serif;
  font-size:14px;
  line-height:1.4em;
  width:850px;
  padding-right:40px;
  margin:0 auto;
}

div#instructions h1 { font-size:18px; }

div#mainwindow
{
  width:890px;
  height:668px;
  padding:25px 40px 55px 40px;
  margin:25px auto;
  background-image:url(../images/window_groupchat.png);
  background-repeat:no-repeat;
  font-family:Lucida Grande;
  font-size:12px;
}

div#mainwindow div#user
{
  width:816px;
  height:38px;
  padding-top:30px;
  padding-left:34px;
}

div#mainwindow div#user div#avatar
{
  height:28px;
  width:28px;
  padding:1px;
  float:left;
  background-position:1px 1px;
  background-repeat:no-repeat;
}
div#mainwindow div#user div#name,
div#mainwindow div#user div#balance
{
  position:absolute;
  margin-left:40px;
  text-shadow:rgb(225,225,225) 0 1px 0;
}
div#mainwindow div#user div#name
{
  margin-top:-1px;
}
div#mainwindow div#user div#balance
{
  margin-top:17px;
  font-size:11px;
}

div#mainwindow div#sidebar
{
  width:191px;
  height:461px;
  padding-top:139px;
  float:left;
}
div#mainwindow div#sidebar div#contact
{
  width:156px;
  height:24px;
  padding:4px 0 4px 34px;
}
div#mainwindow div#sidebar div#contact div#avatar
{
  width:22px;
  height:22px;
  margin-right:8px;
  padding:1px;
  float:left;
  background-position:1px 1px;
  background-repeat:no-repeat;
}
div#mainwindow div#sidebar div#contact div#name
{
  color:white;
  float:left;
  height:24px;
  width:115px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  line-height:24px;
  text-shadow:rgb(103,117,137) 0 1px 0;
}

div#mainwindow div#conversation
{
  width:660px;
  height:600px;
  float:left;
  z-index:1000;
}
div#mainwindow div#conversation div#contacts
{
  width:646px;
  height:111px;
  padding-top:14px;
  padding-left:15px;
}
div#mainwindow div#conversation div#contacts div#avatar
{
  height:46px;
  width:46px;
  padding:1px;
  margin-right:15px;
  float:left;
  background-position:1px 1px;
  background-repeat:no-repeat;
}
div#mainwindow div#conversation div#contacts div#name
{
  height:25px;
  line-height:25px;
  font-family:Helvetica Neue;
  font-size:15px;
  font-weight:bold;
  background-repeat:no-repeat;
  background-position:center right;
  float:left;
}
div#mainwindow div#conversation div#contacts div#status
{
  float:left;
  clear:both;
  font-size:11px;
  color:rgb(117,117,117);
  margin-left:75px;
  margin-top:-22px;
}
div#mainwindow div#conversation div#contacts ul#participants
{
  clear:both;
  list-style:none;
  padding:0;
  padding-top:27px;
  width:644px;
}
div#mainwindow div#conversation div#contacts ul#participants li
{
  float:left;
  display:block;
  height:22px;
  margin-right:5px;
}

div#mainwindow div#conversation div#contacts ul#participants li i,
div#mainwindow div#conversation div#contacts ul#participants li span 
{ 
  display:block;
  float:left;
  height:22px;
  line-height:22px;
  background-image:url(../images/contact_button.png);
}

div#mainwindow div#conversation div#contacts ul#participants li span
{
  padding-left:27px;
  text-align:center;
  min-width:70px;
  background-position:left 0;
}

div#mainwindow div#conversation div#contacts ul#participants li i
{
  width:22px;
  background-position:right 0;
}

div#mainwindow div#conversation iframe#chat
{
  border:0;
  width:659px;
  height:437px;
}

body.highlight div#mainwindow div#conversation iframe#chat
{
  position:absolute;
  z-index:1001;
}

div#overlay
{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.85);
  z-index:1000;
}