/*doc
---
title: Bubble Menu
name: bubble_menu
category: basics
---
```html_example
    <ul class="bubble-menu">
      <li class="fa-home"></li>
      <li class="fa-suitcase"></li>
      <li class="fa-flask"></li>
      <li class="fa-user"></li>
    </ul>
```
*/

$size: 50px; 
$offsetAmount: 1.1; 
$transitionTime: 0.12s; 

$amountOfIcons: 5; 

$offset:10%; 
$colors:transparent, #004DB3, #26B85A, #FFCB00, #D88E8E;
$transforms:  translate(0,0),
              translate(0,-$offset), 
              translate($offset,0), 
              translate(0,$offset),
              translate(-$offset,0);


.bubble-menu{
  display: block;
  margin: 0 auto 0; 
  width: $size; 
  height: $size; 
  padding: 0; 
  position: fixed;
  right: 20px;
  top: 20px;  
  z-index: 2; 
}

.bubble-menu:after {
	content:" "; 
	z-index: 6;
	position: absolute;
	background-image: url('../images/icon-sandwich.svg');
	background-size: 50%; 
	width: $size;
	height: $size;
	left: 0;
	top: 0;
	opacity: 1; 
	border-radius: 50%; 
	background-color: rgba(255,255,255,0); 
	transition: opacity 0.2s ease-in, background-color 1s ease-in; 
	@extend .icon;

}
.bubble-menu a {
  background-color: inherit; 
}
.bubble-menu li:hover .bubble-menu-label {
  display: block ;
}
.bubble-menu-label{
  font-size: 11px;
  color: #FFF;
  background-color: inherit;
  position: absolute;
  right: 30px;
  padding: 5px 10px;
  top: 10%;
  height: auto;
  display: block;
  line-height: 1em;
  font-family: 'Avenir';
  display: none;
}

.bubble-menu li {
  display: block; 
  width: $size;
  height: $size; 
  background-color: blue; 
  border-radius: 50%; 
  opacity: 0.5; 
  position: absolute; 
  top: 0; 
  left: 0; 
  transition: transform $transitionTime ease-out, opacity $transitionTime ease-out, color $transitionTime ease-out; 
  text-align: center; 
  line-height: $size; 
  font-family: 'fontawesome'; 
  color: transparent; 
	
  .icon {
  	transition: opacity 0.2s ease-out; 
  	opacity: 0; 
  }
}

.bubble-menu  li:first-child:after{
  display: none; 
}

@for $i from 1 through $amountOfIcons{
  .bubble-menu  li:nth-child(#{$i}){ 
    background-color: nth($colors, $i); 
    transform: nth($transforms, $i);
    z-index: $amountOfIcons - $i; 
    transition-duration: $transitionTime * $i; 
  }

} 



.bubble-menu:hover, .bubble-menu.active{
  height: (4*$offsetAmount) * $size; 
	
  &:after{
  	background-color: rgba(0,0,0,0.5);
  }
  li {
    color: white; 
  }
  
  .icon{
  	opacity: 1; 
  }
  
  @for $i from 1 through $amountOfIcons{
    li:nth-child(#{$i}){ 
      transform: translate(0,  $i *($offsetAmount*100%));
      opacity: 1; 
     &:hover{
      opacity: 1; 
      transition-timing-function: cubic-bezier(.5,0,.5,1);
      transform: translate(0, $i * ($offsetAmount*100%))  scale(1.15, 1.15); 
       transition-duration: $transitionTime*2; 
     }
    
    }
    
    li:nth-child(#{$i}):after{
      opacity: 1; 
      transition-delay: ($transitionTime/1.5) * $i; 
    }
  } 
}
