
.js-carousel-description-container{
	display: none; 
}

.js-carousel-description-container.active{
	display: block;

}

.js-carousel-description{
	transition: opacity 0.3s ease-in; 
	opacity: 0; 
	position: absolute;
	top: 0; 
	left: 0; 
}

.js-carousel-description.active{
	opacity: 1; 
	position: relative; 
}
