.flat3D{
  @extend %acts_as_flat3D__content; 
  
  margin-left: auto; 
  margin-right: auto; 
  .button--dark{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%) translateY(-50%); 
    opacity: 0; 
  }
  
  &:hover {
    .button--dark{
      opacity: 1; 
    }
  }
  @media all and (max-width:928px) {
    transform-origin: 30% 50%;
  }
}

.owl-item .flat3D{
  opacity: 0; 
}
.owl-item.active .flat3D {
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-20deg) scale(0.8); 
  opacity: 1; 
}
