.icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	overflow: hidden;
	color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.icon:hover, .icon:active {
	color: transparent;
	text-decoration: none;
	border: none;
}

.icon ~ .icon {
	margin-left: 1em;
}
.icon--twitter {
	@extend .icon;
	background-image: url( '/assets/images/twitterbird.svg' );
}
.icon--stackoverflow {
	@extend .icon;
	background-image: url( '/assets/images/stackoverflow.svg' );
}
.icon--github {
	@extend .icon;
	background-image: url( '/assets/images/githubalt.svg' );
}
.icon--linkedin {
	@extend .icon;
	background-image: url( '/assets/images/linkedin.svg' );
}

.icon--twitter--black {
	@extend .icon;
	opacity: 0.6;
	background-image: url( '/assets/images/twitterbird-black.svg' );
}
.icon--stackoverflow--black {
	@extend .icon;
	opacity: 0.6;
	background-image: url( '/assets/images/stackoverflow-black.svg' );
}
.icon--github--black {
	@extend .icon;
	opacity: 0.6;
	background-image: url( '/assets/images/githubalt-black.svg' );
}
.icon--linkedin--black {
	@extend .icon;
	opacity: 0.6;
	background-image: url( '/assets/images/linkedin-black.svg' );
}

@media (min-width:700px) {
	.icon {
		width: 1.2rem;
		height: 1.2rem;
	}
}