.post{
	color: #444; 
	max-width: 700px; 

	h2, h3 {
		margin-top: 0.4em;
		margin-bottom: 0.2em; 
	}
	p {
		font-size: 20px; 
	}
	blockquote{
		padding-left: 1em;
		padding-right: 1em;

		p:first-of-type {
			font-size: 1.4em;
			line-height: 1.4em; 
			font-style: italic;
			font-weight: normal; 
		} 
	}

	pre{
		padding: 1em; 
	}

	time{
		font-style: italic; 
		color: darkGrey; 
		display: block; 
		margin-top: 2em; 
		margin-bottom: 1em;
		border-top: 1px solid lightGrey; 
		padding-top: 1em; 
	}
}

.post p:first-of-type{
	font-size: 2em; 
	font-weight: 800; 
	line-height: 1.2em; 
}

.max-width-image{
	text-align: center; 
	display: block; 
	max-width: 100%; 
	margin-left: auto; 
	margin-right: auto; 
}

.cp_embed_iframe {
	margin-bottom: 1em; 
}

