.work-section{
	color: white; 
}

.lab-section {
	background-color: $contentSection2;
	fill: $contentSection2;	
}
.blog-section{
	background-color: $contentSection3;
	fill: $contentSection3;	
}

.contact-section{
	background-color: $contentSection4;
	fill: $contentSection4;	
}


.project-section{
	background-color: white; 
	fill: white;
	color: #333; 		

	p {
		font-size: 18px; 
	}
}

.post-section{
	background-color: white; 
	fill: white; 
}