.section-title {
	margin-top: 0;
	width: 100%;
	font-family: $secondary-font-stack;
	text-align: left;
	font-size: ms(5);
	font-weight: 800;
	color: colors(text-light);
	text-transform: uppercase;
	min-width: 100%;
	position: absolute;
	align-items: center;
	top: -0.7em;
	opacity: 0.3;
}