$bg: #444; 
$color1: $contentSection1;
$color2: $contentSection2; 
$color3: $contentSection3; 

.site-nav{
  position: fixed;
  top: 0; 
  left: 0; 
  z-index: 3;
  a {
    padding: 5px 5px 5px 15px; 
    color: rgba(255,255,255,0.6); 
    float: left; 
    font-size: 14px; 
    transition: color 0.2s ease-in; 
  } 
  a:after{
    content: " ";
    display: block; 
    position: absolute;
    right: -10px; 
    top: 0; 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 10px 0 0;
    border-color: inherit transparent transparent transparent;
    z-index: 1; 
  }
  a:hover{
    color: white; 
  }
  a:nth-child(1){
    border-color: $homeBodyBG; 
    background-color: $homeBodyBG; 
  }
  a:nth-child(2){
    border-color: $contentSection1; 
    background-color: $contentSection1; 
  }
  a:nth-child(3){
    border-color: $contentSection2; 
    background-color: $contentSection2; 
  }
  a:nth-child(4){
    border-color: $contentSection3; 
    background-color: $contentSection3; 
  }

}

.sandwich-nav{
  top: 0px; 
  left: 0px; 
  position: fixed; 
  margin: 0; 
  padding: 0;
  width: 5em; 
  z-index: 3; 
}

.sandwich-item, .sandwich-label{

}

.sandwich-item{
  vertical-align: middle; 
  line-height: 0.5em; 
  background-color: #222; 
}
.sandwich-item a, .sandwich-label a {
  color: white; 
  text-decoration: none; 
  font-size: 0.7em;
  display: none; 
  font-weight: 800; 
  &:hover{
  	background-color: transparent;
  }
}

.sandwich-nav:hover .sandwich-item, 
.sandwich-nav:hover .sandwich-label {
  height: 2em; 
  margin-bottom: 0; 
  width: 6em;
  line-height: 1.5em; 
  font-size: 1.2em; 
  opacity: 1; 
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5); 
  a {
  	display: block;
  }
}

.sandwich-nav:hover .sandwich-label {
  background-color: $bg;  
  &:hover {
      background-color: lighten($bg, 15%);
  }
  
}

.sandwich-nav:hover .top{
  background-color: $color1;  
  &:hover {
      background-color: lighten($color1, 15%);
  }
}

.sandwich-nav:hover .middle{
  background-color: $color2;
  &:hover {
      background-color: lighten($color2, 15%);
  }
}

.sandwich-nav:hover .bottom{
  background-color: $color3;
  &:hover {
      background-color: lighten($color3, 15%);
  }
}
