- pages = sitemap.resources.find_all{|p| p.url == p.url.match(/^\/work\/.*?[\/]+/).to_s  }.sort!{|a, b| a.data.order <=> b.data.order}

%H1.text_shadow
  Work

%p
  This is the kind of stuff I do for a living. 


- pages.each do |page|
  %a.thumbnail.large_thumbnail.has_shadow{:href=>page.url.chomp('/') }>
    %p.page_description.white_pixel_font.large
      =page.data.title
    %img{:src=>page.url+"icon.png"}>
