- pages = sitemap.resources.find_all{|p| p.url == p.url.match(/^\/work\/.*?[\/]+/).to_s  }

%H1
  Work

%p
  This is a selection of stuff I've made for fun. 


- pages.each do |page|
  %a.thumbnail.large_thumbnail.has_shadow{:href=>page.url.chomp('/') }>
    %p.page_description.white_pixel_font.large
      =page.data.title
    %img{:src=>page.url+"icon.png"}>
