- pages = sitemap.resources.find_all{|p| p.url == p.url.match(/^\/work\/.*?[\/]+/).to_s  }.sort!{|a, b| a.data.order <=> b.data.order}

%header
  %h1.text_shadow.project_title
    Jan Drewniak
  %h2.subhead
    UX Design + Development Ninja Assassin 

%section
  %p
    Jan Drewniak is a UX design/developer from Toronto. He like art, code and combining the two. 
    He dislikes writing in the third person. I specialize in interface design, specifically web interfaces. 
    I'm adept at web-technologies (HTML/CSS/JS) and I know enough back-end code to be dangerous. 
    The thing that drives me is my love for designing interactions, wether it be for fun or for profit. 

%section
  %h3
    experience

  %dl
    %dt
      Algrin Technologies Inc.
    %dd
      %span.underline
        Interface Designer (2009 - present)
      %br
        At Algrin Technologies I'm in charge of product design, web design and front-end development. I design and develop user interface for our web apps, SkedX and Bridge. 
  %dl
    %dt
      SWARM
    %dd
      %span.underline
        Partner (2009)
      %br
        At SWARM I produced an integrated advertising campaign and related marketing material for a high-end furniture retailer in downtown Toronto.

  %dl
    %dt
      Smith Roberts
      %br
      Creative Co.
    %dd
      %span.underline
        Art Director (2008-2009)
      %br
        At Smith Roberts I was responsible for generating advertising campaign ideas and producing the visual look and feel for many local clients.

  %dl
    %dt
      Mobile Digital Commons Network
    %dd
      %span.underline
        Intern (2007-2008)
      %br
        At the M.D.C.N. I assisted in organizing a national conference on Mobile technology and assisted in projects involving GSP enabled mobile gaming (before we had iPhones).


%section
  %h3
    education
  %dl
    %dt
      Ontario College 
      %br
      Of Art And Design
    %dd
      %span.underline
        Bachelor in Design - Advertising Art Direction (2003 - 2007)

%section
  %h3
    recognition
  %ul
    %li
      2007 Student Gold, Advertising & Design Club of Canada
    %li
      2006 Student Silver, Marketing Awards
      
%section
  %h3.text_shadow
    projects: 

  - pages.each do |page|
    %a.thumbnail.large_thumbnail.has_shadow{:href=>page.url.chomp('/') }>
      %p.page_description.white_pixel_font.large
        =page.data.title
      %img{:src=>page.url+"icon.png"}>
