
%acts_as_tabbable__input {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	visibility: hidden; 
}

%acts_as_tabbable__content, %acts_as_tabbable__content__secondary {
	display: none; 
}

%acts_as_tabbable__input:checked + %acts_as_tabbable__content, 
%acts_as_tabbable__input:checked + * + %acts_as_tabbable__content__secondary{
	display: block;	
}

