---
title: Safari and The Case Of The Precocious Preloading 

Description:  

date: 2013/11/29
---

%p.intro
	Safari does this strange thing where it starts loading a webpage before you finish typing a URL in the address bar. 

<iframe class="embed" width="560" height="315" src="//www.youtube.com/embed/f0ypaOl-0-U" frameborder="0" allowfullscreen></iframe>