// _j4n_colors
$homeBodyBG: #2F899E;
$contentSection1: #5D3862;
$contentSection2: #14A1A1;
$contentSection3: #80394F;
$contentSection4: #0d4254;
$darkGrey: #333333;



$homeBodyBG: #718EAB;
$contentSection1: #4A6177;
$contentSection2: #77514A;
$contentSection3: #80394F;
$contentSection4: #0d4254;
$darkGrey: #333333;


$homeBodyBG: #71B9EB;
$contentSection1: #5A437C;
$contentSection2: #49A0A8;
$contentSection3: #A84949;
$contentSection4: #17182A;
$darkGrey: #333333;
