---
title: "Super Salon"

order: 4

meta_description: "supersalon.org Warsaw bookstore website design."

gallery_images:
  -
    url: 'supersalon_frontpage.png' 
    caption: 'the homepage of supersalon.org'
  -
    url: 'supersalon_product.png'
    caption: 'the product page of supersalon.org'
  -
    url: 'supersalon_cart.png'
    caption: 'the supersalon cart page'
---


%strong
  Art & Design Specialty e-commerce at <a target="_BLANK" href="supersalon.org">supersalon.org</a>

%hr

%dl
  %dt WHAT IT IS
  %dd
    Super Salon is an art book store in Warsaw, specializing in art, photography, design and other artsy things. 
    supersalon.org is the store's online presence where you can browse products and buy stuff. 


%dl
  %dt WHAT I DID
  %dd
    I designed and developed the site. 
%dl
  %dt HOW I DID IT
  %dd
    supersalon.org is fully custom e-commerce site with integrated regional payment gateways. It's based on Spree, an open-source Ruby on Rails e-commerce platform. 