/*
Syntax error: Undefined variable: "$light_grey".
        on line 2 of /root/j4n-co/source/stylesheets/modules/post_meta.css.scss

1: .post_meta{
2: 	background-color: $light_grey;
3: 	padding: 1.4em;
4: 	color: $dark_grey;
5: }

Backtrace:
/root/j4n-co/source/stylesheets/modules/post_meta.css.scss:2
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/script/variable.rb:49:in `_perform'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/script/node.rb:40:in `perform'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:294:in `visit_prop'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-sass-0.8.0/lib/sprockets/sass/sass_template.rb:40:in `evaluate'
/usr/lib/ruby/gems/1.9.1/gems/middleman-sprockets-3.0.4/lib/middleman-sprockets/sass.rb:45:in `evaluate'
/usr/lib/ruby/gems/1.9.1/gems/tilt-1.3.3/lib/tilt/template.rb:76:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/context.rb:197:in `block in evaluate'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/context.rb:194:in `each'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/context.rb:194:in `evaluate'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/processed_asset.rb:12:in `initialize'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/base.rb:350:in `new'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/base.rb:350:in `block in build_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/base.rb:371:in `circular_call_protection'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/base.rb:349:in `build_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/index.rb:93:in `block in build_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/caching.rb:51:in `cache_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/index.rb:92:in `build_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/base.rb:270:in `find_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/index.rb:60:in `find_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/bundled_asset.rb:16:in `initialize'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/base.rb:353:in `new'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/base.rb:353:in `build_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/index.rb:93:in `block in build_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/caching.rb:51:in `cache_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/index.rb:92:in `build_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/base.rb:270:in `find_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/index.rb:60:in `find_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/environment.rb:74:in `find_asset'
/usr/lib/ruby/gems/1.9.1/gems/middleman-sprockets-3.0.4/lib/middleman-sprockets/extension.rb:118:in `find_asset'
/usr/lib/ruby/gems/1.9.1/gems/sprockets-2.4.5/lib/sprockets/server.rb:47:in `call'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.4.1/lib/rack/builder.rb:134:in `call'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.4.1/lib/rack/urlmap.rb:64:in `block in call'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.4.1/lib/rack/urlmap.rb:49:in `each'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.4.1/lib/rack/urlmap.rb:49:in `call'
/usr/lib/ruby/gems/1.9.1/gems/rack-1.4.1/lib/rack/builder.rb:134:in `call'
/usr/lib/ruby/gems/1.9.1/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/usr/lib/ruby/gems/1.9.1/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/usr/lib/ruby/gems/1.9.1/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/usr/lib/ruby/gems/1.9.1/gems/middleman-core-3.0.5/lib/middleman-core/cli/build.rb:235:in `block in execute!'
/usr/lib/ruby/gems/1.9.1/gems/middleman-core-3.0.5/lib/middleman-core/cli/build.rb:232:in `each'
/usr/lib/ruby/gems/1.9.1/gems/middleman-core-3.0.5/lib/middleman-core/cli/build.rb:232:in `execute!'
/usr/lib/ruby/gems/1.9.1/gems/middleman-core-3.0.5/lib/middleman-core/cli/build.rb:174:in `invoke!'
/usr/lib/ruby/gems/1.9.1/gems/thor-0.15.4/lib/thor/actions.rb:95:in `action'
/usr/lib/ruby/gems/1.9.1/gems/middleman-core-3.0.5/lib/middleman-core/cli/build.rb:64:in `build'
/usr/lib/ruby/gems/1.9.1/gems/thor-0.15.4/lib/thor/task.rb:27:in `run'
/usr/lib/ruby/gems/1.9.1/gems/thor-0.15.4/lib/thor/invocation.rb:120:in `invoke_task'
/usr/lib/ruby/gems/1.9.1/gems/thor-0.15.4/lib/thor.rb:275:in `dispatch'
/usr/lib/ruby/gems/1.9.1/gems/thor-0.15.4/lib/thor/base.rb:425:in `start'
/usr/lib/ruby/gems/1.9.1/gems/middleman-core-3.0.5/lib/middleman-core/cli.rb:77:in `method_missing'
/usr/lib/ruby/gems/1.9.1/gems/thor-0.15.4/lib/thor/task.rb:29:in `run'
/usr/lib/ruby/gems/1.9.1/gems/thor-0.15.4/lib/thor/task.rb:126:in `run'
/usr/lib/ruby/gems/1.9.1/gems/thor-0.15.4/lib/thor/invocation.rb:120:in `invoke_task'
/usr/lib/ruby/gems/1.9.1/gems/thor-0.15.4/lib/thor.rb:275:in `dispatch'
/usr/lib/ruby/gems/1.9.1/gems/thor-0.15.4/lib/thor/base.rb:425:in `start'
/usr/lib/ruby/gems/1.9.1/gems/middleman-core-3.0.5/lib/middleman-core/cli.rb:22:in `start'
/usr/lib/ruby/gems/1.9.1/gems/middleman-core-3.0.5/bin/middleman:18:in `<top (required)>'
/usr/local/bin/middleman:19:in `load'
/usr/local/bin/middleman:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$light_grey\".\A         on line 2 of /root/j4n-co/source/stylesheets/modules/post_meta.css.scss\A \A 1: .post_meta{\A 2: 	background-color: $light_grey;\A 3: 	padding: 1.4em;\A 4: 	color: $dark_grey;\A 5: }"; }
