@media screen and (max-width : 855px){
  #main{
    float: left;   
    width: 70%; 
  }
  #nav{
    background-color:transparent;
    width: 25%;
    clear: left; 
    .header{
      display:inline-block;
    }
    #prevnext{
      display:inline-block;
    }
  }
}

@media screen and (max-width : 719px){
  #main{
    width: 69%;
    padding-right: 0; 
  }
}

@media screen and (max-width : 566px){
  
  body{
    padding: 0;   
  }

  #site_header{
    width: 100%;
    header{
      margin: 0 auto 0 auto;
      z-index: 5; 
    }
  }

  #logo{
    margin-bottom: 0; 
    a{
      font-size: 42px;  
    }
  }
  
  #main{
    margin-left: 0; 
    width: 85%;
    padding: 0.2em;    
    
    .blog_title{
      margin-left: 0; 
    }
  
  }
  #main.work{
    padding: 0; 
    float: left; 
  }
  #nav{
    width: 100%;
    .article_link{
      float: left; 
    }
    .article_link{
      background-color: transparent;   
    }
    .article_link.current{
      padding-left: 5px;
      margin-left:0;
      background-color: white; 
    }
    li{
      background-color: $medium_grey;      
      float: left;
    }
    li:nth-child(odd) {
      background-color: $medium_grey;
    }
    li:nth-child(even){
      background-color: $dark_grey; 
    }
  }
}

@media screen and (max-width : 320px){
    #logo{
    margin-bottom: 0; 
    a{
      font-size: 36px;  
    }
  }
}




@media screen and (min-width : 1000px){
  #site_header{
    width: 250px;  
  }  
}

@media screen and (max-width : 1000px){
  .tag_line{
    letter-spacing: 0px;   
  }  
}

@media screen and (max-width : 970px){
  .tag_line{
    letter-spacing: 2px;   
  }
}

@media screen and (max-width : 768px) {
  #logo{
    letter-spacing: -3px;
  }
}

@media screen and (max-width : 762px){
  .tag_line {
    letter-spacing: 4px;   
  }  
}

@media screen and (max-width : 450px){
    .tag_line{
      letter-spacing: 3px;   
    }
}

@media screen and (max-width : 450px){
    .tag_line{
      letter-spacing: 0px;   
    }

}

