$h1_size: 46px; 
$phi: 1.14; 
$h_color: #444; 
$p_color: #333;

$link_color: #27976A; 
$highlight: #00D57F; 

$warning: #CF882E; 
$warning_highlight: #FFAC44;

$light_grey: #DADADA; 
$medium_grey: #999; 
$dark_grey: #666;
$body_bg: #FFF;
$content_bg: white; 


$monospace: 'Lucida Console', 'Monaco', 'Courier New', 'Courier';

$header_width: 25%; 
$nav_width:10%; 

