= partial "project_selector"

- project = data.work.projects[@project[0]]


#project_wallpaper{:style=>'background-image:url(/images/project_wallpapers/'+@project[0]+'.jpg);'}
  %h2  
    =project.title 

%h3.subhead
  what is it
%p
  =project.description
%h3.subhead
  what I Did
%p
  =project.my_input

#project_gallery
  - if project.gallery_images
    - project.gallery_images.each do |image|
      %figure 
        - if image.href
          %a{:href => image.href, :target=>"_BLANK", :class=>"gallery_link"}
            %img{:src=>'/images/project_galleries/'+image.src, :id=>'slide_'+image.to_s, :class=>'gallery_large'} 
            .expand_hint
              click to expand
        - else 
          %img{:src=>'/images/project_galleries/'+image.src, :id=>'slide_'+image.to_s, :class=>'gallery_large'} 

        %figcaption
          =image.caption
