@font-face {
  font-family: 'Glypha';
  src: url('../../assets/fonts/glypha/GlyphaLTStd-Thin.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/glypha/GlyphaLTStd-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/glypha/GlyphaLTStd-Thin.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/glypha/GlyphaLTStd-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/glypha/GlyphaLTStd-Thin.svg#1183ffbcec692aec50a43f4748c7de8e') format('svg'); /* Legacy iOS */   
  font-style:   normal;
  font-weight:  100;
}