--- 
title: Google Rich Snippets with Schema.org
description: A guide to the schema.org structured markup supported by google
date: 2013/11/18
published: false
---
:javascript
  function popitup(url) {
    event.preventDefault()
    var href=event.target.attributes['href'].value
    newwindow = window.open(href,'name','height=800,width=600');
    
    return false;
  }

%p.intro
  Every want's those coveted 'rich snippets' in their google search results. You know, the 
  ones with stars or the authors name beside them, but sh*t is complex.  
%P
  It's no secret that the click-through rate on those
  is astronomical, but after coming off of a recent e-commerce project, 
  I've learned that getting those snippets is not as easy at it looks. 
%p
  <strong>It's a crapshoot</strong>. Google says they support the schema.org markup format,
  but the current Google Structured Markup Tester doesn't show a preview of the search results. 
  Nore does google specify which schema.org definitions they support in their rich-snippets. 
  So to stay on the safe side, I use the depreciated data-vocabulary.org definitions, 
  which are well-documented and supported by Google. However, keep in mind that all this stuff will change in the future. 

%p
  So to give you a comprehensive idea of how rich-snippets work, I'm listing all the supported properties, followed by code examples as well as a link
  to a real example. Required properties are in <code class='required'>red</code>. Any page can be testes using the <a href="http://www.google.com/webmasters/tools/richsnippet">Google Structured Data Testing Tool</a>
  So I encourage you to use it. 

%hr
%h3
  Product
%p
  Products are the biggie. Review and Aggregated Reviews are typically tied to products, so lets start here.
%p
  Products can have descriptive properties as well as <code>offerDetails</code>. 
  Inside the <code>offerDetails</code> is an <code>Offer</code> or an <code>Offer-aggregate</code> which contain things like price, amount or currency.

%p
  The <a href="https://support.google.com/webmasters/answer/146750?hl=en&ref_topic=1088474">google documentation</a> is a little obtuse though. 
  It states that <code>OfferDetails</code> "Includes a nested <code>Offer</code> or <code>Offer-aggregate</code>". 
  Then it states that <code>Offer</code> has a property of <code>itemOffered</code> which "includes a nested Product".

%p
  So is the product nested in the offer? or is the offer nested in the product?
  The answer is: whichever works for you. Google will accept one or the other. So if you have a Product with a nested Offer, the offer will be tied to that product
  and you don't have to include the offerItems property. 
  If you have an Offer with a nested Product, you specify the products with the OffeItems property.

%p
  a few more things to note about products:
  %ul
    %li
      products should be for purchase directly on the page.
    %li 
      product markup should be used on pages with one main product, not a product listing or category page. 
    %li
      Adult-related products are not supported.
    %li
      If the product has been reviewed by a single reviewer, the reviewer’s name needs to be a valid name for a Person (e.g: John Smith).
%p
  Currency is in <a href="https://en.wikipedia.org/wiki/ISO_4217">ISO-4217</a>
  USD will show a $ sign, everything else will show the abbreviated currency format, even countries that use the $ symbol, like Canda & Australia. 
  If the price is formatted like $100.00, google will assume USD. 
  If you use the $ sign in the price and include a different currency, google will use
  the dollar sign in the price, but it will put an abbreviated currency before it. 
  If you format the currency as 100 CAD for example, google will identify the currency code accordingly.    
%h3
  Product - Minimum example:
%pre
  %code
    = preserve do
      :escaped
        <title>Awesome Product</title>
        <div itemscope itemtype="http://schema.org/Product">
          <span itemprop="name">Anvils</span>
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span itemprop="price">$500.00</span>
          </div>
        </div>
%h3 
  Product - Kitchen Sink Example: 
%pre
  %code
    = preserve do
      :escaped
        <title>Awesome Product</title>
        <div itemscope itemtype="http://schema.org/Product">
          <meta content=’http://www.merchantprocessingresource.com/MPRlogo.jpg’ itemprop=’thumbnailUrl’ />

          <span itemprop="brand">Brand Name</span>
          <span itemprop="name">Anvils</span>
          <img src="kenmore-microwave-17in.jpg" alt='Kenmore 17" Microwave' />
          <span itemprop="description">description</span>
          <meta itemprop='productID' content='isbn:123-456-789'/>
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span itemprop="price">$500.00</span>
            <span itemprop="category" content="Books-fiction"/>
          </div>
        </div>
%table
  %thead
    %tr
      %th{:colspan=>'2'}
        %h2
          Product
        %a{ :href=>"http://localhost:4567/thoughts/google_rich_snippet_cheatsheet/table-product.html", :onClick=>'popitup("http://localhost:4567/thoughts/google_rich_snippet_cheatsheet/table-product.html")'}
          stand-alone table
    %tr
      %th
        Property
      %th
        Description  
  %tbody
    %tr
      %td
        %code.required
          name
      %td
        The name of the product.
    %tr
      %td
        %code
          image
      %td
        The URL of a product photo.
    %tr
      %td
        %code
          description
      %td
        Product description.
    %tr
      %td
        %code
          brand
      %td
        The brand of the product. Can include nested organization info. Google recommends including brand and at least one identifier for each product.
    %tr
      %td
        %code
          category
      %td
        The product category—for example, "Books-Fiction", "Tools", or "Cars". You can include multiple categories. Any value is accepted, but Google recognizes the categories described in this article.
    %tr
      %td
        %code
          review
      %td
        A nested Review-aggregate of the product (for example, the average rating). If there are multiple reviews of the product, mark up aggregated review data (for example, the average rating from all users) using Review-aggregate rather than individual reviews.
    %tr
      %td
        %code
          identifier
      %td
        The product identifier. Google recommends including brand and at least one identifier for each product.
        Recognized types include:
        %ul
          %li
            asin
          %li
            isbn
          %li
            mpn
          %li
            sku
          %li
            upc
    %tr
      %td
        %code
          offerDetails
      %td
        An offer to sell the product. Includes a nested Offer or Offer-aggregate.

        %table
          %thead
            %tr
              %th{'colspan'=>2}
                %h2
                  Offer
            %tr
              %th
                Property
              %th
                Description
          %tbody
            %tr
              %td
                %code.required
                  price
              %td
                The price of the product. A floating point number. You may use either a decimal point ('.') or a comma (',') as a separator.

            %tr
              %td
                %code.required
                  currency
              %td
                The currency used to describe the product price, in three-letter ISO format.

            %tr
              %td
                %code
                  priceValidUntil
              %td
                The date (in ISO date format) after which the price will no longer be available. (Your product snippet may not display if the priceValidUntil property indicates a past date.)
            %tr
              %td
                %code
                  priceValidUntil
              %td
                The date (in ISO date format) after which the price will no longer be available. (Your product snippet may not display if the priceValidUntil property indicates a past date.)
            %tr
              %td
                %code
                  seller
              %td
                The seller of the product. Can contain a Person or Organization.
            %tr
              %td
                %code
                  condition
              %td
                Any text may be specified. If the condition attribute is used, the value of the content attribute must be one of the following recognized values:
                • new
                • used
                • refurbished
                For example:
                %pre
                  %code
                    :escaped
                      <span itemprop="condition" content="new">Brand new!</span>
            %tr
              %td
                %code
                  availability
              %td
                Any text may be specified, but the value of the content attribute must be one of the following recognized values:
                %ul
                  %li
                    out_of_stock
                  %li
                    in_stock
                  %li
                    instore_only
                  %li
                    preorder
            %tr
              %td
                %code
                  quantity
              %td
                The number of items available for this offer.

            %tr
              %td
                %code
                  offerURL
              %td
                A URL to the product web page (that includes the Offer). (Don't use offerURL for markup that appears on the product page itself.)
            %tr
              %td
                %code
                  identifier
              %td
                The product identifier. Google recommends including brand and at least one identifier for each product. Recognized types include:
                %ul
                  %li
                    asin
                  %li
                    isbn
                  %li
                    mpn
                  %li
                    upc
                  %li
                    sku

            %tr
              %td
                %code
                  itemOffered
              %td
                The item being sold. Typically, this includes a nested Product, but it can also contain other item types or free text.


        %h3
          Offer-aggregate

        %table
          %thead
            %tr
              %td
                Property
              %td
                Description
          
          %tbody
            %tr
              %td
                %code
                  lowPrice
              %td
                The lowest price of all offers available. Floating point number.

            %tr
              %td
                %code
                  highPrice
              %td
                The highest price of all offers available. Floating point number.

            %tr
              %td
                %code
                  currency
              %td
                The currency used to describe the product price, in three-letter ISO format.

            %tr
              %td
                %code
                  offerCount
              %td
                The number of offers for the product.

            %tr
              %td
                %code
                  condition
              %td
                Any text may be specified, but the value of the content attribute must be one of the following recognized values:
                %ul
                  %li
                    new
                  %li
                    used
                  %li
                    refurbished
                For example:
                %pre
                  %code
                    :escaped
                      <span itemprop="condition" content="new">Brand new!</span>

            %tr
              %td
                %code
                  offerURL
              %td
                A URL to the product web page (that includes the Offer or Offer-aggregate). (Don't use offerURL for markup that appears on the product page itself.)

            %tr
              %td
                %code
                  identifier
              %td
                The product identifier. Google recommends including brand and at least one identifier for each product.
                Recognized types include:
                %ul
                  %li
                    asin
                  %li
                    isbn
                  %li
                    mpn
                  %li
                    upc
                  %li
                    sku
            %tr
              %td
                %code
                  itemOffered
              %td
                The item being sold. Typically, this includes a nested Product, but it can also contain other item types or free text.


%h3
  Reviews  

%table
  %thead
    %tr
      %th
        Property
      %th
        Description
  %tbody
    %tr
      %td
        %code
          itemreviewed (item)
      %td
        The item being reviewed. In microformats, can include the name of the item reviewed (fn).
    %tr
      %td
        %code
          rating
      %td
        A numerical quality rating for the item (for example, 4). You can indicate a rating scale by specifying best (default: 5) and worst (default: 1). <a> More information about review ratings</a>.
    %tr
      %td
        %code
          reviewer
      %td
        The author of the review.
    %tr
      %td
        %code
          dtreviewed
      %td
        The date that the item was reviewed in ISO date format.

    %tr
      %td
        %code
          description
      %td
        The body of the review.

    %tr
      %td
        %code
          summary
      %td
        A short summary of the review.


%h3
  Aggregate reviews

%table
  %thead
    %tr
      %td
        Property
      %td
        Description  
  %tbody
    %tr
      %td
        %code
          itemreviewed(item)
      %td
        The item being reviewed. In microformats, can include the name of the item reviewed (fn).
    %tr
      %td
        %code
          rating
      %td
        A numerical quality rating for the item (for example, 4). You can indicate a rating scale by specifying best (default: 5) and worst (default: 1). More information about review ratings.

    %tr
      %td
        %code
          count
      %td
        The total number of reviews for the item on your site. Note: Whenever you include count, the page must also contain review markup for each reviewed item. count should only include reviews on your own site.

    %tr
      %td
        %code
          votes
      %td
        Specifies the number of people who provided a rating with or without an accompanying review. A page must specify at least one of count or votes.

    %tr
      %td
        %code
          summary
      %td
        A short summary of the collection of reviews that are being aggregated.

    %tr
      %td
        %code
          photo
      %td
        The photo or the image of the item being reviewed.

%h3
  Rich snippets - People
%table
  %thead
    %tr
      %td
        Property
      %td
        Description  
  %tbody
    %tr
      %td
        %code
          name (fn)
      %td
        Name
    %tr
      %td
        %code
          nickname
      %td
        Nickname
    %tr
      %td
        %code
          photo
      %td
        An image link

    %tr
      %td
        %code
          title
      %td
        The person's title (for example, Financial Manager)

    %tr
      %td
        %code
          role
      %td
        The person's role (for example, Accountant)

    %tr
      %td
        %code
          url
      %td
        Link to a web page, such as the person's home page

    %tr
      %td
        %code
          affiliation (org)
      %td
        The name of an organization with which the person is associated (for example, an employer). If fn and org have the exact same value, Google will interpret the information as referring to a business or organization, not a person.
    %tr
      %td
        %code
          friend
      %td
        Identifies a social relationship between the person described and another person.
    %tr
      %td
        %code
          contact
      %td
        Identifies a social relationship between the person described and another person.
    %tr
      %td
        %code
          acquaintance
      %td
        Identifies a social relationship between the person described and another person.
    %tr
      %td
        %code
          address (adr)
      %td
        The location of the person. Can have the subproperties street-address, locality, region, postal-code, and country-name.

%h3
  Rich snippets - Organizations
%table
  %thead
    %tr
      %td
        Property
      %td
        Description  
  %tbody
    %tr
      %td
        %code
          name(fn/org)
      %td
        The name of the business. If you use microformats, you should use both fn and org, and ensure that these have the same value.

    %tr
      %td
        %code
          url
      %td
        Link to the organization home page.

    %tr
      %td
        %code
          address (adr)
      %td
        The location of the business, described as a separate PostalAddress entity which can have properties including streetAddress, addressLocality, addressRegion, postalCode, and addressCountry. (In microformats these are named street-address, locality, region, postal-code, and country-name.)

    %tr
      %td
        %code
          telephone (tel)
      %td
        The telephone number of the business or organization.

    %tr
      %td
        %code
          location (geo)
      %td
        The geolocation of an Organization (or Event). Typically used with latitude and longitude properties; examples below for details.

    %tr
      %td
        %code
          logo
      %td
        URL of an image for the logo of the business or organization.


%h3
  Rich snippets - Recipes
%table
  %thead
    %tr
      %td
        Property
      %td
        Description  
  %tbody

    %tr
      %td
        %code
          name (fn)
      %td
        The name of the dish.

    %tr
      %td
        %code
          recipeType (tag)
      %td
        The type of dish: for example, appetizer, entree, dessert ...

    %tr
      %td
        %code
          photo
      %td
        Image of the dish being prepared.
    %tr
      %td
        %code
          published
      %td
        The date the recipe was published, in ISO date format.

    %tr
      %td
        %code
          summary
      %td
        A short summary describing the dish.

    %tr
      %td
        %code
          review
      %td
        A review of the dish. Can include nested review information.

    %tr
      %td
        %code
          prepTime
      %td
        The length of time it takes to prepare the recipe for dish, in ISO 8601 duration format. Can use min, max as child elements to specify a range of time.

    %tr
      %td
        %code
          cookTime
      %td
        The time it takes to actually cook the dish, in ISO 8601 duration format. Can use min, max as child elements to specify a range of time.

    %tr
      %td
        %code
          totalTime (duration)
      %td
        The total time it takes to prepare the cook the dish, in ISO 8601 duration format. Can use min, max as child elements to specify a range of time.

    %tr
      %td
        %code
          nutrition
      %td
        The steps to make the dish. Can contain the child element instruction, which can be used to annotate each step.

    %tr
      %td
        %code
          yield
      %td
        The quantity produced by the recipe (for example, number of people served, number of servings, etc).

    %tr
      %td
        %code
          ingredient
      %td
        An ingredient used in the recipe. Can contain child items name (name of the ingredient) and amount. Use this to identify individual ingredients.

    %tr
      %td
        %code
          author
      %td
        Creator of the recipe. Can include nested Person information.


%h3
  Rich snippets - Events
%table
  %thead
    %tr
      %td
        Property
      %td
        Description  
  %tbody
    %tr
      %td
        %code
          summary
      %td
        The name of the event.

    %tr
      %td
        %code
          url
      %td
        Required for pages listing multiple events. A link to the event details page. Unnecessary if the URL is the same as the page containing the markup.

    %tr
      %td
        %code
          location
      %td
        Required for single event. The location or venue of the event. A text string is permitted, but we recommend that you represent the location by using a nested Organization to specify a venue name and address. More information about nested entities.

    %tr
      %td
        %code
          description
      %td
        A description of the event.

    %tr
      %td
        %code
          startDate (dtstart)
      %td
        The starting date and time of the event in ISO date format.
    %tr
      %td
        %code
          endDate (dtend)
      %td
        The ending date and time of the event in ISO date format.

    %tr
      %td
        %code
          duration
      %td
        The duration of the event in ISO duration format.

    %tr
      %td
        %code
          eventType (category)
      %td
        The category of the event, such as "Festival", "Concert", "Lecture".
    %tr
      %td
        %code
          geo
      %td
        Specifies the geographical coordinates of the location. Includes two elements: latitude and longitude. Optional.

    %tr
      %td
        %code
          photo
      %td
        A link to a photo or image related to the event.

    %tr
      %td
        %code
          tickets
      %td
        An offer to buy tickets for the event. Can be a URL to a page where tickets can be purchased, or can include specific Offer properties, such as price, quantity, priceValidUntil, and currency.
    %tr
      %td
        %code
          ticketAggregate
      %td
        Aggregate information about all tickets for the event. Can include specific Offer-aggregate properties, such as lowPrice, highPrice, offerCount, and currency.

%h3
  Rich snippets - Videos: Facebook Share
%table
  %thead
    %tr
      %td
        Property
      %td
        Description  
  %tbody
    %tr
      %td
        %code
          image_src
      %td
        (Required.) A URL pointing to a preview thumbnail, which must be a GIF, PNG, or JPG image. The preview thumbnail must be hosted on the same domain as the video.

    %tr
      %td
        %code
          video_src
      %td
        (Required.) A URL to the video to play when the user clicks the "play" button.

    %tr
      %td
        %code
          medium
      %td
        Indicates the type of content being shared. Valid values are audio, image, video, news, blog and mult.

    %tr
      %td
        %code
          video_width
      %td
        The video's width in pixels, including any "chrome" provided by the third-party player.

    %tr
      %td
        %code
          video_height
      %td
        The video's height in pixels, including any "chrome" provided by the third-party player.

    %tr
      %td
        %code
          video_type
      %td
        The video's MIME-type. Currently, the only acceptable value is application/x-shockwave-flash.
    %tr
      %td
        %code
          description
      %td
        A short (up to 200 characters) description of the video.
    %tr
      %td
        %code
          title
      %td
        The title of a video. Up to 60 characters.


%h3
  Rich snippets - Videos: RDFa (Yahoo! SearchMonkey)
%table
  %thead
    %tr
      %td
        Property
      %td
        Description  
  %tbody
    %tr
      %td
        %code
          media:video
      %td
        (Required.) A URL to the video to play when the user clicks the "play" button.
    %tr
      %td
        %code
          xmlns:media
      %td
        (Required.) Must consist of the following URL: "http://search.yahoo.com/searchmonkey/media/".
    %tr
      %td
        %code
          media:thumbnail
      %td
        (Required.) A URL pointing to a preview thumbnail, which must be a GIF, PNG, or JPG image. The preview thumbnail must be hosted on the same domain as the video.
    %tr
      %td
        %code
          xmlns:dc
      %td
        A valid URL to the Dublin Core namespace. The only acceptable value is "http://purl.org/dc/terms/". Required only if you are using Dublin Core metadata such as dc:description
    %tr
      %td
        %code
          dc:license
      %td
        Indicates the license for this content. You may use dc:license or cc:license.
    %tr
      %td
        %code
          dc:description
      %td
        A short (up to 200 characters) description of the video.
    %tr
      %td
        %code
          media:title
      %td
        Specifies the title of a video. Up to 60 characters.
    %tr
      %td
        %code
          media:width
      %td
        The video's width in pixels, including any "chrome" provided by the third-party player.
    %tr
      %td
        %code
          media:height
      %td
        The video's height in pixels, including any "chrome" provided by the third-party player.
    %tr
      %td
        %code
          media:type
      %td
        The video's MIME-type. Currently, the only acceptable value is application/x-shockwave-flash.
    %tr
      %td
        %code
          media:region
      %td
        An international region where the video may be played. The default is * (play in all regions).

    %tr
      %td
        %code
          media:duration
      %td
        The duration of the video, in seconds.

%h3
  Rich snippets - Videos: RDFa (Yahoo! SearchMonkey)
%pre
  %code
    :escaped
      <div itemscope itemtype="http://schema.org/MusicGroup">
        <h1 itemprop="name">The Parrot Family</h1>
        <h2>Songs</h2>
          <div itemprop="tracks" itemscope itemtype="http://schema.org/MusicRecording">
            <span itemprop="name">Hello, World!</span>
            Length: <meta itemprop="duration" content="PT4M5S" />4:05 -
            14300 plays
            <meta itemprop="interactionCount" content="UserPlays:14300"/>
            <a href="parrot-family-helloworld-play.html" itemprop="audio">Play</a>
            <a href="parrot-family-helloworld-buy.html" itemprop="offers">Buy</a>
            From album: <a href="parrot-family-yellow-album.html" itemprop="inAlbum">The Yellow Album</a>
          </div>   
        <a href="parrot-family-helloworld-link.html" itemprop="url">Link</a>
        <div itemscope itemtype="http://schema.org/MusicRecording">
          <span itemprop="name">Parrot Power</span>
          Length: <meta itemprop="duration" content="PT6M33S" />6:33 -
          11700 plays
          <meta itemprop="interactionCount" content="UserPlays:11700"/>
          <a href="parrot-family-parrotpower-link.html" itemprop="url">Link</a>
          <a href="parrot-family-parrotpower-play.html" itemprop="audio">Play</a>
          <a href="parrot-family-parrotpower-buy.html" itemprop="offers">Buy</a>
          From album: <a href="parrot-family-yellow-album.html"
            itemprop="inAlbum">The Yellow Album</a>
        </div>
      </div>




