--- 
title: Review - Google Rich Snippet Cheatsheet
description: An example of the Review Type for an article about google rich snippets
date: 2013/11/18
---


%section{:itemscope=>true, :itemtype=>"http://data-vocabulary.org/Review"}
	%h2{:itemProp=>"itemreviewed"}
		L’Amourita Pizza With Data-vocabulary
	%h3{:itemProp => 'reviewer'}
		Reviewed by Ulysses Grant 
	%span{:itemProp => 'dtreviewed'}
		05/21/2013

	%span{:itemProp => 'summary'}
		Delicious, tasty pizza on Eastlake!
	%span{:itemProp => 'description'}
		L'Amourita serves up traditional wood-fired Neapolitan-style pizza, 
		brought to your table promptly and without fuss. An ideal neighborhood pizza joint.
		
	Rating:
	%span{:itemProp => 'rating'}
		4.5


//The following is valid, but it won't get you those coveted stars :O

//%div{:itemscope=>true, :itemtype=>"http://schema.org/Book"}
//	%img{:itemprop=>"image", :src=>"catcher-in-the-rye-book-cover.jpg"}
//
//	%span{:itemprop=>"name"}
//		The Catcher in the Rye-
//
//
//	%section{:itemprop=>"review", :itemscope=>true, :itemtype=>"http://schema.org/Review"}
//		%span{:itemprop=>"reviewRating"}
//			5 
//		stars
//		%b
//		%span{ :itemprop=>"name"}
//			A masterpiece of literature
//		by 
//		%span{:itemprop=>"author"}
//			John Doe
//		Written on
//		%meta{:itemprop=>"datePublished", :content=>"2006-05-04"}
//			May 4, 2006
//		%span{:itemprop=>"reviewBody"}
//			I really enjoyed this book. It captures the essential challenge people face as they try make sense of their lives and grow to adulthood.