--- 
title: Google Rich Snippet Cheatsheet
description: A guide to the schema.org structured markup supported by google
date: 2013/11/18
layout: none
---

%table
  %thead
    %tr
      %th{:colspan=>'2'}
        %h2
          Product
    %tr
      %th
        Property
      %th
        Description  
  %tbody
    %tr
      %td
        %code.required
          name
      %td
        The name of the product.
    %tr
      %td
        %code
          image
      %td
        The URL of a product photo.
    %tr
      %td
        %code
          description
      %td
        Product description.
    %tr
      %td
        %code
          brand
      %td
        The brand of the product. Can include nested organization info. Google recommends including brand and at least one identifier for each product.
    %tr
      %td
        %code
          category
      %td
        The product category—for example, "Books-Fiction", "Tools", or "Cars". You can include multiple categories. Any value is accepted, but Google recognizes the categories described in this article.
    %tr
      %td
        %code
          review
      %td
        A nested Review-aggregate of the product (for example, the average rating). If there are multiple reviews of the product, mark up aggregated review data (for example, the average rating from all users) using Review-aggregate rather than individual reviews.
    %tr
      %td
        %code
          identifier
      %td
        The product identifier. Google recommends including brand and at least one identifier for each product.
        Recognized types include:
        %ul
          %li
            asin
          %li
            isbn
          %li
            mpn
          %li
            sku
          %li
            upc
