.large_thumbnail{
	display: inline-block;
	position: relative;
	width: 120px;
	height: 120px;
	margin: 10px;
	background-color: #e5ce49; 
	vertical-align: top;
	transition: top 0.1s ease-in, left 0.1s ease-in,  box-shadow 0.1s ease-in ;
}

.large_thumbnail img{
	height: 100%;
}

.large_thumbnail:hover{
	left: -2px;
	top: -2px; 
	box-shadow: 4px 7px 7px -2px rgba(0, 0, 0, 0.3);
	img{
		opacity: 0.4;
	}
	.page_description{
		opacity: 1;
		z-index: 2;
	}
}

.large_thumbnail .page_description{
	opacity: 0;
	position: absolute;
	width: 100%;
	top: 20%;
	text-align: center;
}