.project_gallery{
	height: 200px;
	margin-top: -5rem;
	overflow: hidden;
	transition: height 0.5s;
	transition-delay: 1s;	
	figure{
		max-height: 100%;
	}

	figcaption{
		position: absolute;
		top: 290px;
		width: 100%;
		padding-bottom: 4em;
		background-color: #FFF;
		text-align: right;
	}
}

.project_gallery:hover{
	overflow: auto;
	height: 500px;
}

.project_gallery_item{
	display: none;
}
.project_gallery .project_gallery_item:first-of-type {
	display: block;
}

.gallery_operator {
	display: none;
}

div:nth-of-type(1):target ~ figure:not(:nth-of-type(1)) {
	display: none;
}

div:nth-of-type(2):target ~ figure:not(:nth-of-type(2)) {
	display: none;
}

div:nth-of-type(3):target ~ figure:not(:nth-of-type(3)) {
	display: none;
}

div:nth-of-type(1):target ~ figure:nth-of-type(1){
	display: block;
}

div:nth-of-type(2):target ~ figure:nth-of-type(2){
	display: block;
}

div:nth-of-type(3):target ~ figure:nth-of-type(3){
	display: block;
}



.spacer{
	height: 80px;
	width: 100%;
}
.project_gallery_nav{
background-color: #FFF;
font-size: 0.8em;
padding: 1em;
position: absolute;
text-align: center;
width: 100%;
}

.project_gallery_nav a{
	padding: 1em;
}