#my_face{
	height: 50px;
	width: 50px;
	float: left;
	margin: 0 5px;
}

.sitenav{
	margin-right: 2em;
	margin-left: 2em;
}
.top_bar{
	a {
		border: none;
		cursor: pointer;
	}
	a:hover{
		border: none;
	}

}

.section.current_section {
	max-width: 20em;
}

.section {
	position: relative;
	float: left;
	height: 3em;
	padding-left: 2em;
	max-width: 0em;
	white-space: nowrap;
	background-image: url('/images/menu_icons.png');
	background-repeat: no-repeat;
	background-size: 1.5em auto;
	background-position:  6px 12px; 
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.section.work{
	background-position: 3px  20px; 
}

.section.tools{
	background-position: 3px -68px; 
}

.section.blog{
	background-position: 3px -156px; 	
	white-space: normal;
	width: 200px;	
}
.section.about{
	background-position: 3px -245px;
}
.section img {
	display: block;
	transition: opacity 0.1s ease-in;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	opacity: 0.5;
}

.dropdown{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	max-width: 500px;
	background-color: inherit;
	padding: 0.5em;
	border-radius: 0 0 10px 10px; 
}

.blog .dropdown{
	width: 400px;
}
.blog .dropdown a{
	display: block;
}

.section:hover .dropdown, .dropdown:hover{
	display: block;
}
.section a.thumbnail {
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}
.section a.index_link{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	color: transparent;
}
.section a img {
	height: 40px;
	cursor: pointer;
	margin-top: 10%;
	transition: all 0.2s;
	margin: 10% auto;
}
.thumbnail {
	min-width: 3em;

}
.section a:hover img,  .section a.current_page img{
	position: relative;
	top: -2px; 
	left: -2px; 
	z-index: 3; 
	box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.4); 
	opacity: 1; 
}

.section.about{
	white-space: normal;
}

#my_face_avatar{
	height: 40px;
	opacity: 1;
	display: inline;
	vertical-align: top;
	float: left;
	margin: 0;
	position: relative;
}

.about_me{
	position: relative;
	width: 400px;
	margin: 0;
	font-family: monospace;
}
