#my_face{
	height: 50px;
	width: 50px;
	float: left;
	margin: 0 5px;
}

.sitenav{
	margin-right: 2em;
}
.top_bar{
	a {
		border: none;
		cursor: pointer;
	}
	a:hover{
		border: none;
	}

}

.section.current_section {
	max-width: 20em;
}

.section {
	float: left;
	height: 3em;
	padding-left: 2em;
	max-width: 0em;
	overflow: hidden;
	white-space: nowrap;
	background-image: url('/images/menu_icons.png');
	background-repeat: no-repeat;
	background-size: 1.5em auto;
	background-position:  6px 12px; 
	transition: max-width 0.5s ease-out;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.section.work{
	background-position: 3px  20px; 
}

.section.tools{
	background-position: 3px -68px; 
}

.section.blog{
	background-position: 3px -156px; 	
}
.section.about{
	background-position: 3px -245px;
}
.section img {
	display: block;
	transition: opacity 0.1s ease-in;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	opacity: 0.5;
}
.section:hover{
	max-width: 20em;
}

.section a {
	display: inline-block;
	cursor: pointer;
	min-width: 3em;
	overflow: hidden;
}

.section a img {
	height: 80%;
	cursor: pointer;
	margin-top: 10%;
	transition: all 0.2s;
	margin: 10% auto;
}

.section a:hover img,  .section a.current_page img{
	position: relative;
	top: -2px; 
	left: -2px; 
	z-index: 3; 
	box-shadow: 2px 2px 7px -3px rgba(0,0,0,0.4); 
	opacity: 1; 
}

.section.blog > a {
	vertical-align: middle;
	margin-top: 1.5em;
	margin-right: 1em;
	color: #FFF;
}