$item-display-duration: 5 !default; //seconds
$transition-duration: 2 !default; // seconds
$display-duration: $transition-duration + $item-display-duration;
$item-count : 10; 
 
@mixin inactive-button { color: #ccc; background-color: lightgrey;height:20px; width: 20px; border-radius: 25px; }
@mixin active-button { color: white; background-color: grey; height:20px; width:20px; border-radius: 25px; }

%inactive-button { @include inactive-button; }
%active-button { @include active-button; }